<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Comment</comment>
<entry key="COORD_LON">10.665128231048584</entry>
<entry key="COORD_LAT">50.65937786065118</entry>
<entry key="CSV_DIR">C:\Users\pscha\Downloads</entry>
</properties>
